@import '@media';

.input-file,
.input-file__custom,
.input-file__placeholder {
  display: flex;
  align-items: center;
}

.input-file {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 1px;
    height: 1px;

    &:focus ~ .input-file__custom {
      box-shadow: 0 0 15px var(--purple-lighter);
    }
  }

  &__custom {
    justify-content: start;
    flex: 0 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    background: var(--white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    margin: 0 30px 0 0;
    transition: box-shadow 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 25px var(--purple-lighter);
      }
    }
  }

  &__placeholder {
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
    color: var(--white);
    position: relative;
    z-index: 1;
    background: var(--black-05);

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    color: var(--gray);
    font-size: 14px;
    line-height: 1.2;
    max-width: 250px;
  }

  @include media-down(lg) {
    &__custom {
      margin: 0 10px 0 0;
      width: 150px;
      height: 150px;
    }
  }

  @include media-down(xs) {
    display: block;

    &__custom { 
      margin: 0 auto 15px;
    }
  }
}
