@import '@media';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 80px;
  min-height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--purple);
  transition: all 0.2s;

  &:focus {
    box-shadow: 0 0 15px var(--purple-lighter);
  }

  svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
    transition: all 0.2s;
  }

  &--outlined {
    border: 1px solid var(--purple);
    color: var(--purple);
    background: transparent;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--purple);
      transition: all 0.2s;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--mobile-view {
    min-width: 50px;

    svg {
      display: none;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--purple-darkest);

      svg {
        fill: var(--white);
      }
    }

    &--outlined {
      &:hover {
        border: 1px solid transparent;
        color: var(--white);
        background-color: var(--purple);
      }
    }
  }

  @include media-down(sm) {
    &--mobile-view {
      min-width: 50px;

      svg {
        display: block;
      }

      span {
        display: none;
      }
    }
  }
}
