.heading {
  font-size: clamp(28px, 1.5rem + 0.8vw, 32px);
  line-height: 1.2;

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}
