@keyframes showRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes showLeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes showToast {
  0% {
    transform: translate(-50%, 200%);
  }

  100% {
    transform: translate(-50%, -30px);
  }
}
