.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--white);
  background: var(--black);
  transform: translate(200%, -50%);
  animation: showToast 0.2s ease forwards;

  svg {
    width: 20px;
    height: 20px;
    margin: 0 5px 2px 0;
    fill: var(--white);
  }
}
