@import '@media';

.profile,
.profile-layout,
.profile-form-wrapper,
.profile-form-wrapper__body,
.profile-form-wrapper__footer,
.profile-preview {
  display: flex;
}

.profile-preview,
.profile-form-wrapper__footer {
  align-items: center;
}

.profile {
  flex-grow: 1;
  gap: var(--layout-gap);
  height: calc(var(--vh, 100vh) - var(--header-height));
  min-height: 580px;

  &__form,
  &__preview {
    flex: 1 1 auto;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0 0 10px var(--gray-light);
  }
}

.profile-layout {
  --padding-top: calc(var(--header-height) + (var(--layout-padding) * 2));
  flex-direction: column;
  gap: var(--layout-gap);
  height: var(--vh, 100vh);
  padding: var(--padding-top) var(--layout-padding) var(--layout-padding);
}

.profile-form-wrapper,
.profile-preview {
  flex: 1 1 auto;
  width: 100%;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0 0 10px var(--gray-light);
}

.profile-preview {
  justify-content: center;
  max-width: 35%;
  min-width: 350px;
}

.profile-form-wrapper {
  --footer-height: 70px;
  --padding-bottom: var(--footer-height);
  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding: 30px 30px 0;

  &__head {
    display: grid;
    gap: 4px;
    margin: 0 0 30px;
  }

  &__body {
    overflow-y: auto;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    margin: 0 -15px;
    padding: 0 15px calc(var(--footer-height) + 20px);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: var(--gray-light);
    }
  }

  &__text {
    color: var(--gray);
  }

  &__add-btn {
    margin: 0 0 20px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
    z-index: 1;
    width: 100%;
    height: var(--footer-height);
    padding: 10px 30px;
    border-top: 1px solid var(--gray-light);
    background: var(--white);
  }

  &__btn-wrap {
    margin: 0 0 20px;
  }
}

@include media-down(md) {
  .profile-preview {
    display: none;
  }
}

@include media-down(sm) {
  .profile-layout {
    --layout-padding: 10px;
  }
}

@include media-down(xs) {
  .profile-form-wrapper {
    padding: 20px 15px 0;

    &__footer {
      --footer-height: 60px;
      padding: 10px;
    }

    &__save-btn {
      width: 100%;
    }
  }
}
