@import '@media';

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  &__name,
  &__email {
    overflow: hidden;
    display: -webkit-box;
    line-height: 1.2;
    word-break: break-all;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
  }

  &__email {
    color: var(--gray);
  }

  &__name-placeholder,
  &__email-placeholder {
    display: block;
    background: var(--gray-light);
  }

  &--md {
    & .user-info__name {
      font-size: 28px;
      font-weight: 800;
    }

    & .user-info__email {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
