@import '@media';

.logo,
.logo__icon-wrap {
  display: flex;
  align-items: center;
}

.logo {
  &__icon-wrap {
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 8px 0 0;
    border-radius: 7px;
    background: var(--purple);

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--white);
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 800;
  }

  @include media-down(sm) {
    &__text {
      display: none;
    }
  }
}
