.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 80px;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--purple);
  transition: all 0.2s;

  &--outlined {
    border: 1px solid var(--purple);
    color: var(--purple);
    background: transparent;
  }

  &--full-width {
    width: 100%;
  }

  &:focus {
    box-shadow: 0 0 15px var(--purple-lighter);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--purple-darkest);
    }

    &--outlined {
      &:hover {
        border: 1px solid transparent;
        color: var(--white);
        background-color: var(--purple);
      }
    }
  }
}
