.form-wrapper {
  display: grid;
  gap: 5px;

  &--grid {
    align-items: center;
    grid-template-columns: minmax(100px, 0.3fr) 1fr;
  }

  &__label {
    font-weight: 500;
    color: var(--gray);
  }
}
