.select__head,
.select-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--dark);
  background: var(--white);

  svg {
    width: 18px;
    height: 18px;
    fill: var(--gray);
  }
}

.select-option {
  cursor: pointer;
  border-bottom: 1px solid lightgray;

  &:last-child {
    border: 0;
  }

  &.is-select {
    pointer-events: none;
    border-color: transparent;
    font-weight: 600;
    color: var(--white);
    background: var(--purple);

    svg {
      fill: var(--white);
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: transparent;
      color: var(--white);
      background: var(--purple-lighter);

      svg {
        fill: var(--white);
      }
    }
  }
}

.select {
  position: relative;

  &__head,
  &__options {
    border: 1px solid var(--gray-light);
    border-radius: 5px;
  }

  &__head {
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      display: block;
      width: 8px;
      height: 8px;
      border: 2px solid var(--purple);
      border-width: 0 2px 2px 0;
      transform: translateY(-60%) rotate(45deg);
      transition: transform 0.2s ease;
    }

    &:focus {
      border-color: var(--purple);
      box-shadow: 0 0 15px var(--purple-lighter);
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 15px var(--purple-lighter);
      }
    }
  }

  &__options {
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 120px;
    background: var(--white);
    transition: opacity 0.2s ease;
  }

  &.active {
    z-index: 10;

    & .select__head {
      border-color: var(--purple);
      box-shadow: 0 0 15px var(--purple-lighter);

      &::after {
        transform: translateY(-40%) rotate(225deg);
      }
    }

    & .select__options {
      opacity: 1;
      pointer-events: all;
    }
  }
}
