@import '@media';

.preview-card {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 40px;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0 0 10px var(--shadow-light-gray);

  @include media-down(xs) {
    padding: 20px;
  }
}
